* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #1F2937;
    color: white;
    display: flex;
    display: flex;
    justify-content: space-between;
}

.nav p {
    margin-left: 80px;
}

ul {
    display: flex;
}

ul li {
    list-style-type: none;
    margin-left: 10px;
}

main {
    
}

.hero-section {
    background-color: #1F2937;
    color: white;
    display: flex;
    padding: 50px 0;
}

.left-hero {
    margin-left: 80px;
}

.main-text {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bold;
}

.left-hero button {
    background-color: #3882F6;
    color: white;
}

.right-hero div {
    background-color: #B5C0D0;
    height: 200px;
    width: 100px;
}

.illustration-section {
    padding: 50px 0;
}

.illustration h2 {
    text-align: center;
}

.illustration-section div img {
    border: 1px solid blue;
    height: 150px;
    width: 150px;
}

.illustration {
    display: flex;
}

.quote-section {
    background-color: #E5E7EB;
    color:  #1F2937;
    font-size: 36px;
    padding: 50px 100px;
}

.signup-section {
    background-color: #3882F6;
    color: wheat;
    margin: 50px;
    padding: 50px 0;
}

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
}