* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    background-color: #1F2937;
    color: white;
    display: flex;
}

.nav p {
    margin-left: 80px;
}

ul {
    display: flex;
}

main {
    
}

.hero-section {
    background-color: #1F2937;
    color: white;
    display: flex;
    padding: 50px 0;
}

.left-hero {
    margin-left: 80px;
}

.right-hero div {
    background-color: blue;
    height: 200px;
    width: 100px;
}

.illustration-section {
    padding: 50px 0;
}

.illustration h2 {
    text-align: center;
}

.illustration-section div img {
    border: 1px solid blue;
    height: 150px;
    width: 150px;
}

.illustration {
    display: flex;
}

.quote-section {
    background-color: #E5E7EB;
    padding: 50px 0;
}

.signup-section {
    background-color: #3882F6;
    color: wheat;
    margin: 50px;
    padding: 50px 0;
}

.footer {
    background-color: #1F2937;
    color: white;
    text-align: center;
}